html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron {
	height: 400px;
	background-image: url(../img/foto4.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -150px;
	color: #eaeaea;
	overflow: hidden;
}

.jumbotron img {
	width: 200px;
	border: 5px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 2);
}

.jumbotron h1,
.jumbotron p {
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 2);
}

hr {
	width: 250px;
	border-top: 3px solid #999;
}

section {
	min-height: 600px;
}

.pKiri,
.pKanan {
	opacity: 0;
	transform: translate(-50px, 0);
	transition: 1s;
}

.pKanan {
	transform: translate(50px, 0);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
	opacity: 1;
	transform: translate(0, 0)
}

.portfolio {
	background-color: #eee;
}

.portfolio .thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: .5s;
}

.portfolio .thumbnail.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding-top: 30px;
}

footer p {
	color: #aaa;
	font-size: 0.9em;
}

footer p i {
	color: salmon;
}

.instagram {
	text-decoration: none;
}

.instagram:hover {
	text-decoration: none;
}

/* overlay */
.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 9999;
	transition: .8s;
	text-align: center;
	padding: 55px;
}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
}

.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
	animation: fadeAjah 1s;
}

.overlay .close {
	position: absolute;
	top: 15px;
	left: 48%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	line-height: 14px;
	padding: 5px;
	opacity: 0;
}

.overlay:target .close {
	animation: slideDownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
	animation: fadeAjah .5s .5s forwards;
}

/* navigasi */
.next,
.prev {
	width: 57px;
	height: 93px;
	background-image: url(../img/next.png);
	position: absolute;
	text-indent: -9999px;
	top: 40%;
	margin-left: 50px;
	opacity: 0;
}

.prev {
	background-image: url(../img/prev.png);
	margin-left: -100px;
}

/* responsive */
@media screen and (max-width: 768px) {
	.overlay img {
		margin-top: 40%;
		max-height: 30%;
	}

	.prev {
		margin-left: -65px;
	}

	.next {
		margin-left: 5px;
	}

	.overlay .close {
		top: 28%;
		left: 48%;
	}

	.jumbotron {
		background-size: cover;
		background-position: center;
	}
}


/* animasi */
@keyframes fadeAjah {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes zoomDanFade {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideDownFade {
	0% {
		opacity: 0;
		margin-top: -20px;
	}

	100% {
		opacity: 1;
		margin-top: 0;
	}
}